{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="wrapper">
        <h1>S'inscrire</h1>

        <div class="d-flex container d-flex align-items-center">
            <div class="col-md-6 col-12">
                {{ form_start(registrationForm) }}

                    {{ form_label(registrationForm.lastName, 'Nom', {'label_attr': {'class': 'form-label mt-4'}}) }}
                    {{ form_widget(registrationForm.lastName, {'label': 'Nom', 'attr': {'placeholder': 'Nom ...', 'class': 'bg-transparent form-control'}}) }}

                    {{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'form-label mt-4'}}) }}
                    {{ form_widget(registrationForm.firstName, {'label': 'Prénom', 'attr': {'placeholder': 'Prénom ...', 'class': 'bg-transparent form-control'}}) }}

                    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label mt-4'}}) }}
                    {{ form_widget(registrationForm.email, {'label': 'Adresse mail', 'attr': {'placeholder': 'Adresse mail ...', 'class': 'bg-transparent form-control'}}) }}

                    {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label mt-4'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'label': 'Mot de passe', 'attr': {'placeholder': 'Prénom ...', 'class': 'bg-transparent mb-4 form-control'}}) }}

                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn-custom my-3 p-2">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>

            <div class="col-6 svg d-none d-md-block">

                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="" height="" viewBox="0 0 1000.000000 1080.000000"
                preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,1080.000000) scale(0.100000,-0.100000)"
                fill="none" stroke-width="10" stroke="#ffffff">
                <path d="M5988 9814 c-93 -33 -190 -132 -284 -290 -56 -94 -174 -464 -160
                -501 4 -9 16 -13 32 -11 23 3 29 13 59 103 41 124 111 308 136 358 123 240
                262 329 389 247 62 -40 165 -170 285 -360 570 -900 710 -1083 1210 -1590 366
                -370 388 -398 441 -554 28 -82 28 -76 9 -76 -8 0 -61 -19 -117 -42 -140 -56
                -436 -103 -716 -114 -150 -5 -192 -10 -192 -20 0 -23 49 -29 210 -27 157 1
                433 35 564 68 66 17 239 96 250 114 23 37 29 14 150 -584 47 -231 94 -456 106
                -500 77 -298 221 -696 345 -950 35 -71 76 -157 91 -190 23 -50 28 -56 32 -36
                7 44 -60 262 -156 511 -91 233 -197 600 -254 875 -147 722 -183 868 -257 1054
                -45 112 -111 191 -411 496 -436 442 -590 636 -944 1185 -465 720 -481 742
                -608 818 -49 31 -147 38 -210 16z"/>
                <path d="M1770 9622 c-78 -26 -110 -45 -152 -89 -50 -51 -87 -136 -105 -239
                -22 -130 1 -339 72 -659 74 -327 154 -709 170 -812 8 -45 19 -92 25 -103 6
                -11 8 -25 4 -31 -4 -6 -1 -14 5 -18 8 -6 7 -17 -4 -44 -49 -118 19 -306 147
                -402 35 -26 63 -50 63 -54 -1 -3 -4 -35 -9 -71 -16 -131 34 -272 125 -354 44
                -39 58 -62 89 -139 21 -51 36 -95 33 -99 -2 -5 -13 -8 -24 -8 -34 0 -332 -169
                -407 -231 -113 -93 -195 -216 -223 -337 -39 -162 -49 -267 -39 -422 12 -200
                43 -303 223 -755 111 -279 410 -1076 450 -1200 15 -44 40 -134 57 -200 76
                -294 91 -348 96 -356 7 -11 45 -11 63 0 24 15 -32 313 -100 536 -46 150 -249
                685 -449 1185 -160 399 -236 616 -254 720 -3 19 -6 96 -7 170 0 146 25 321 57
                382 81 158 210 280 392 372 59 30 124 66 145 80 21 14 39 26 41 26 2 0 11 -21
                21 -47 54 -143 187 -371 369 -633 299 -428 443 -653 536 -839 50 -101 114
                -247 142 -325 133 -376 120 -346 148 -339 26 7 25 18 -9 170 -89 388 -215 624
                -706 1318 -97 138 -202 292 -233 342 -31 51 -92 148 -135 215 -72 113 -119
                202 -161 302 -15 36 -15 38 2 31 63 -28 183 -55 241 -55 l66 -1 29 -65 c54
                -120 142 -184 300 -219 178 -40 339 5 458 126 31 32 75 89 97 126 61 104 137
                158 327 233 92 36 169 60 191 60 89 0 303 -42 434 -85 76 -25 144 -45 152 -45
                8 0 39 -18 68 -41 30 -23 95 -71 144 -109 50 -37 171 -143 271 -236 316 -296
                730 -673 831 -757 135 -113 440 -343 543 -409 128 -84 447 -270 705 -413 127
                -70 258 -148 293 -174 107 -78 186 -130 200 -131 25 0 11 36 -30 79 -73 74
                -145 124 -373 253 -278 158 -690 406 -775 466 -110 78 -500 382 -585 457 -71
                63 -429 395 -774 718 -117 110 -255 221 -343 278 -43 27 -46 35 -18 42 25 7
                36 33 20 52 -9 11 -29 13 -93 8 -78 -5 -89 -3 -222 40 -153 50 -416 95 -484
                82 -59 -11 -343 -123 -385 -153 -76 -53 -137 -115 -175 -181 -43 -72 -124
                -155 -186 -191 -61 -34 -162 -44 -260 -24 -145 29 -218 81 -266 188 -35 80
                -29 115 48 291 39 88 83 189 98 225 95 227 166 313 380 464 389 276 788 441
                1153 477 118 12 298 9 500 -7 53 -5 82 -3 82 3 0 14 -30 19 -236 40 -99 10
                -249 18 -334 17 -138 -1 -168 -4 -275 -31 -267 -68 -598 -218 -857 -389 -260
                -172 -348 -262 -439 -453 -96 -199 -219 -486 -219 -509 0 -12 -3 -22 -7 -23
                -55 -6 -80 -4 -148 13 -90 22 -185 71 -232 120 -43 45 -74 128 -80 218 -5 72
                -3 80 42 195 26 66 51 124 55 129 5 4 11 -3 15 -15 4 -13 28 -53 54 -89 80
                -112 84 -120 89 -198 l5 -72 -37 -34 c-24 -23 -34 -40 -30 -51 4 -9 13 -14 21
                -11 8 3 23 6 33 6 35 0 71 42 81 95 20 107 -37 238 -163 371 l-50 53 60 130
                c68 146 160 293 248 395 98 115 449 379 654 492 188 105 535 248 695 288 125
                32 286 49 400 43 118 -7 355 -32 393 -43 12 -3 22 -2 22 4 0 16 -189 70 -303
                87 -136 19 -250 19 -380 0 -136 -21 -184 -33 -372 -100 -330 -117 -680 -312
                -963 -537 -241 -193 -373 -382 -542 -779 -34 -79 -63 -145 -65 -148 -2 -2 -26
                15 -52 37 -67 56 -110 132 -122 212 -9 64 -8 67 33 160 102 228 366 608 566
                814 234 240 569 440 990 588 218 76 690 165 820 154 36 -3 94 -8 130 -11 88
                -7 53 7 -86 35 -88 18 -128 21 -209 16 -219 -13 -567 -92 -805 -183 -184 -70
                -463 -213 -605 -310 -135 -93 -147 -103 -263 -216 l-94 -90 -67 21 c-112 36
                -242 105 -288 153 -71 74 -108 189 -84 260 9 26 63 99 74 99 9 0 279 80 287
                85 20 12 21 -23 2 -54 -34 -55 -114 -99 -207 -113 -11 -2 -21 -10 -23 -19 -4
                -19 62 -33 106 -23 98 24 182 114 182 197 l0 34 168 80 c322 156 432 200 650
                260 l137 38 225 0 c213 0 234 -2 390 -33 91 -17 262 -59 380 -92 118 -34 396
                -108 619 -166 226 -59 421 -115 441 -126 56 -34 174 -120 187 -137 7 -9 40
                -67 74 -128 108 -201 155 -366 473 -1670 37 -150 103 -383 147 -519 93 -284
                92 -279 24 -414 -41 -82 -185 -303 -205 -315 -14 -8 -13 -42 1 -51 13 -7 47
                29 134 143 65 84 134 223 142 283 l6 43 18 -59 c11 -33 40 -130 65 -216 l46
                -158 -27 -57 c-33 -74 -117 -161 -222 -229 -46 -30 -83 -58 -83 -64 0 -12 24
                -3 140 55 122 61 188 117 228 193 39 72 41 115 11 231 -11 45 -19 85 -16 88 3
                2 43 -33 89 -79 107 -107 189 -248 453 -768 188 -370 207 -402 237 -372 33 33
                -172 476 -395 851 -98 165 -136 218 -192 274 -81 81 -132 117 -177 126 -31 6
                -32 8 -78 161 -26 85 -77 250 -114 365 -64 197 -114 393 -331 1290 -130 537
                -223 801 -354 1002 -38 58 -136 138 -243 198 -29 16 -186 61 -434 124 -214 55
                -485 127 -603 160 -256 73 -294 82 -481 115 -194 33 -277 38 -455 27 -130 -8
                -172 -16 -317 -55 -152 -42 -372 -127 -519 -201 l-46 -24 -29 51 c-49 84 -222
                213 -374 278 -98 42 -242 51 -330 22z m311 -94 c91 -42 216 -124 280 -183 25
                -24 60 -50 77 -59 18 -9 32 -19 32 -21 0 -16 -238 -120 -360 -158 -196 -61
                -191 -59 -240 -114 -24 -26 -40 -39 -35 -28 31 80 22 150 -40 334 -46 138 -58
                151 -106 113 l-22 -19 25 -69 c14 -38 38 -117 53 -176 27 -106 27 -107 10
                -160 -31 -93 -92 -197 -116 -198 -8 0 -38 198 -48 315 -6 71 -5 125 4 186 30
                202 124 283 320 275 78 -2 100 -8 166 -38z m-262 -627 c-30 -85 19 -237 104
                -324 49 -50 198 -131 302 -163 l53 -17 -122 -161 c-67 -89 -164 -230 -216
                -314 l-95 -154 -8 54 c-19 130 -172 866 -192 925 -2 7 18 24 45 39 37 20 60
                44 91 91 45 68 56 75 38 24z"/>
                <path d="M6012 8858 c-7 -7 -12 -17 -12 -24 0 -20 274 -276 334 -313 97 -58
                219 -89 392 -98 110 -6 112 -5 183 27 39 18 76 39 82 46 15 18 10 18 -57 -7
                -50 -19 -71 -21 -163 -16 -142 8 -291 41 -366 80 -40 22 -107 79 -206 175 -81
                78 -153 142 -161 142 -8 0 -19 -5 -26 -12z"/>
                <path d="M2019 7846 c-3 -3 -1 -31 3 -63 21 -150 21 -148 -2 -210 -26 -73 -24
                -128 5 -128 15 0 30 19 57 75 21 41 38 89 38 105 0 61 -82 240 -101 221z"/>
                <path d="M7588 7585 c-115 -23 -214 -83 -318 -191 -85 -90 -107 -124 -77 -124
                8 0 59 45 114 99 124 123 173 149 348 185 72 15 134 32 140 37 14 14 -128 9
                -207 -6z"/>
                <path d="M2756 6923 c4 -21 12 -52 19 -69 11 -26 10 -41 -2 -85 -23 -80 -22
                -103 3 -107 17 -2 26 8 47 56 31 68 33 98 11 150 -15 38 -61 92 -76 92 -5 0
                -6 -17 -2 -37z"/>
                <path d="M1785 4407 c-33 -18 -103 -58 -155 -88 -52 -31 -116 -68 -142 -83
                -72 -40 -161 -128 -206 -204 -107 -178 -141 -376 -102 -609 32 -194 71 -318
                205 -658 67 -170 139 -353 159 -406 31 -84 109 -362 148 -529 11 -48 16 -55
                39 -58 47 -5 54 17 35 116 -26 131 -82 347 -114 442 -33 95 -137 362 -235 605
                -120 297 -181 558 -171 733 11 188 95 361 240 493 83 77 91 82 262 193 56 37
                102 71 102 76 0 13 4 14 -65 -23z"/>
                </g>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}
