{% set route_name = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-info bg-transparent sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/"><img src="{{ asset('build/images/logo.png') }}" alt="logo bye blues" width="150" ></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  justify-content-end fs-5" id="navbarNav">
      <ul class="navbar-nav">

      <li {% if route_name matches '{^admin_blog}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" aria-current="page" href="{{ path('admin_blog') }}">Blog/Article</a>
      </li>

        <li {% if route_name matches '{^admin_item}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link" href="{{ path('admin_item') }}">{% trans %}Produits{% endtrans %}</a>
        </li>

        <li {% if route_name matches '{^admin_shop}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link" aria-current="page" href="{{ path('admin_shop') }}">{% trans %}Commandes{% endtrans %}</a>
        </li>

        <li {% if route_name matches '{^admin_user}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link" href="{{ path('admin_user') }}">{% trans %}Utilisateurs{% endtrans %}</a>
        </li>

        <li {% if route_name matches '{^admin_tag}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link" href="{{ path('admin_tag') }}">{% trans %}Tags{% endtrans %}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>